In [1]:
## Python is case sensitive

name = "Alice"
Name = "Bob"

print(name)  # Output: Alice
print(Name)  # Output: Bob

Alice
Bob

In [2]:
## To perform multiple operations on a single line, you can use a semicolon
x = 5; y = 10; z = x + y;
print(z)  # Output: 15

15

In [3]:
## Type Inference allows you to assign a value without explicitly declaring its type
variable = 42
print(type(variable))  # Output: <class 'int'>
variable = "Hello, World!"
print(type(variable))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

In [4]:
age = input("Enter your age: ") ## int(input("Enter your age: ")) will convert input to integer directly
print(type(age))  # Output: <class 'str'> (input is always a string)

## input will defaultly return a string, so you may need to convert it
age = int(age)  # Convert to integer
print(type(age))  # Output: <class 'int'> (after conversion)

<class 'str'>
<class 'int'>

In [5]:
bool() 
a = 5; b=10
bool(a > b)  # Output: False
bool(a < b)  # Output: True

True


python vs C# on memory management
Python: All the objects are stored in heap memory, and its instance will be called in stack memory by creating a frame, 
Eg. even int/bool/string its object will be craeted in Heap and its instance will be used in stack during execution.

C#: 
Value types: int, bool, double, struct → Stored in stack AND
Reference types: string, class, object, array → Stored in heap

In [ ]:
## Python is a dynamically typed language, meaning you can change the type of a variable at any time

name = 15
print(name)  # Output: 15 (name is now an integer)
print(type(name))  # Output: <class 'int'> (name is now an integer)

name = "John"
print(name)  # Output: John (name is now a string)
print(type(name))  # Output: <class 'str'> (name is now a string

15
<class 'int'>
John
<class 'str'>

In [ ]:
## Calculator

a= 15; b= 3;

add = a + b
sub = a - b
multiply = a * b
divide = a / b
floorDivide = a // b
modulus = a % b
power = a ** b

print("Addition:", add)  # Output: Addition: 18
print("Subtraction:", sub)  # Output: Subtraction: 12
print("Multiplication:", multiply)  # Output: Multiplication: 45
print("Division:", divide)  # Output: Division: 5.0
print("Floor Division:", floorDivide)  # Output: Floor Division: 5
print("Modulus:", modulus)  # Output: Modulus: 0
print("Power:", power)  # Output: Power: 3375

Addition: 18
Subtraction: 12
Multiplication: 45
Division: 5.0
Floor Division: 5
Modulus: 0

Bitwise Operators

In [ ]:
num1 = 2; num2 = 2;

print(num1 & num2)
print(num1 | num2)
print(not num2)
print(num1 ^ num2)

If Elif and Else

In [19]:
age = 76
age2 = 45

if (age > age2 and age > 40):
    print("Age is greater than age2")
elif (age < age2):
    print("Age is less than age2")
else:
    print("Age is equal to age2")

Age is greater than age2

For Loop with Range

In [ ]:
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4

for i in range(1, 6):
    print(i)  # Output: 1, 2, 3, 4, 5

In [ ]:
for i in range(1,11,2):
    print(i)  # Output: 1, 3, 5, 7, 9

In [ ]:
name = "Rajnesh"

for i in name:
    print(i)  # Output: R, a, j, n, e, s, h

ENUMERATE IN FOR LOOPS

In [ ]:
## Enumerate Example
name = "Rajnesh"
for char, index in enumerate(name):
    print(f"Character: {char}, Index: {index}")  # Output: Character: R, Index: 0, etc.

for char, index in enumerate(name, start = 10):
    print(f"Character: {char}, Index: {index}")  # Output: Character: R, Index: 0, etc.

List - Is a collection can have different data types

In [ ]:
list_of_names = ["Alice", "Bob", "Charlie"]

for index, string in enumerate(list_of_names):
    print(f"Index: {index}, Name: {string}")  # Output: Index: 0, Name: Alice, etc.
    for index, char in enumerate(string):
        print(f"Index: {index}, Name: {char}")  # Output: Index: 1, Name: Alice, etc.

In [ ]:
empty_list = list()  # Creating an empty list
print(type(empty_list))  # Output: <class 'list'> (an empty list)

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")  # Add an item to the end of the list
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

fruits.insert(1, "kiwi")  # Insert an item at a specific position
print(fruits)  # Output: ['apple', 'kiwi', 'banana', 'cherry', 'orange']

In [ ]:
fruits.sort()  # Sort the list in ascending order
fruits.reverse()  # Reverse the order of the list
fruits.clear()  # Clear all items from the list
print(fruits)  # Output: []

List Comprehension -> Dynamically using list which optimize memory

In [ ]:
sqr_list = [x**2 for x in range(11)]

even_num = [x for x in range(11) if x % 2 == 0]  # This line has a syntax error, it should be corrected to:

SETS -> Similar to HashSet

In [31]:
sets = set();

print(type(sets))  # Output: set() (an empty set)

<class 'set'>

In [ ]:
sets1 = {1, 2, 3, 4, 5}  # Creating a set with initial values
print(sets1)  # Output: {1, 2, 3, 4, 5}

sets1.add(5)  # Adding an element to the set
print(sets1)  # Output: {5} (if 5 was not already in the set)

sets1.remove(3)  # Removing an element from the set
print(sets1)  # Output: {1, 2, 4, 5} (3 is removed)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [ ]:
sets.add('r')  # Add an item to the set
print(sets)  # Output: {'r'} (if 'r' was not already in the set)

sets.pop()
print(sets)  # Output: set() (removes and returns an arbitrary element from the set)

for i in sets1:
    print(i)  # Output: 1, 2, 4, 5 (iterating through the set)

Dictionary - Key Value Pair

Keys are unique and are immutable where as values are mutable

In [ ]:
num_dict = {"one": 1, "two": 2, "three": 3}  # Creating a dictionary with key-value pairs
print(num_dict)  # Output: {'one': 1, 'two': 2

print(num_dict["one"])  # Accessing a value by its key, Output: 1
print(num_dict.get("two"))  # Accessing a value using the get method, Output

{'one': 1, 'two': 2, 'three': 3}
1
2
Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: 3

FOR LOOPS In Dictionary

In [ ]:
for key in num_dict.keys():
    print(key)  # Output: one, two, three (iterating through keys)

one
two
three

In [ ]:
for values in num_dict.values():
    print(values)  # Output: one, two, three (iterating through keys)

1
2
3

In [48]:
for key, value in num_dict.items():
    print(f"Key: {key}, Value: {value}")  # Output: Key: one, Value: 1, etc.

Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: 3

In [ ]:
num_dict.pop("one")  # Removing a key-value pair by key
print(num_dict)  # Output: {'two': 2, 'three': 3}

In [ ]:
## Determine the frequency of each character in a string

str1 = "hello world"
dict_str1 = {};

for char in str1:
    if char in dict_str1:
        dict_str1[char] += 1
    else:
        dict_str1[char] = 1

print(dict_str1)  # Output: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

Shallow Copy in Dictionary - Important

assigning a dict to another dict -> shares same memory

In [44]:
dict1 = {"name": "Alice", "age": 30, "city": "New York"}
dict2 = dict1 ## direct assignment creates a reference to the same dictionary
dict2["age"] = 78  # Modifying dict2 does not affect dict1
print(dict1)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}
print(dict2)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}

{'name': 'Alice', 'age': 78, 'city': 'New York'}
{'name': 'Alice', 'age': 78, 'city': 'New York'}

In [ ]:
## Shallow Copy in Dictionary - Important

dict1 = {"name": "Alice", "age": 30, "city": "New York"}
dict2 = dict1.copy() # Shallow copy of dict1
dict2["age"] = 78  # Modifying dict2 does not affect dict1
print(dict1)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(dict2)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 78, 'city': 'New York'}

Tuples -  similar to list but they are immutable

In [ ]:
empty_tuple = tuple()  # Creating an empty tuple
print(type(empty_tuple))  # Output: <class 'tuple'> (an empty tuple)

tpl = (1, 2, 3, 4, 5)  # Creating a tuple with initial values
print(tpl)  # Output: (1, 2, 3, 4, 5)

tp[0] = 10  # Tuples are immutable, this will raise an error
print(tp)  # Output: (1, 2, 3, 4, 5) (unchanged, as tuples cannot be modified)

lst = [1, 2, 3, 4, 5]  # Creating a list with initial values
tpl_from_list = tuple(lst)  # Converting a list to a tuple
print(tpl_from_list)  # Output: (1, 2, 3, 4, 5)

Functions

In [ ]:
def func_name():
    print("Hello, World!")  # Function definition

func_name()  # Calling the function to execute its code

In [ ]:
print(add(2, 3)) ## it wiil raise an error if the function is not defined before this line

def add(a, b):
    return a + b  # Function to add two numbers

print(add(2, 3)) ## it wiil raise an error if the function is not defined before this line

In [ ]:
## for list and dictionary comprehensions

def func_name(*args, **kwargs):
    print("Positional arguments:", args)  # Function definition with *args
    print("Keyword arguments:", kwargs)  # Function definition with **kwargs

    for num in args:
        print(num)
    
    for key, value in kwargs.items():
        print(f"Key: {key}, Value: {value}")


func_name(1, 2, 3, name="Alice", age=30)  # Calling the function with positional and keyword arguments

Lambda Functions in Python

In [ ]:
## syntax

func_name = lambda arguments : operation  # Lambda function definition

In [ ]:
addition = lambda a, b: a + b  # Lambda function to add two numbers
print(addition(5, 3))  # Output: 8 (calling the lambda function to add two numbers)

In [ ]:
even_num = lambda num: num % 2 == 0  # Lambda function to check if a number is even
print(even_num(4))  # Output: True (4 is even)

In [ ]:
## Synatx for Map function
map(func_name, list_of_names)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)  # Using map with a lambda function to square each number
print(type(squared_numbers))  # Output: <class 'map'> (squared_numbers is a map object)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25] (converting the map object to a list for display)

<class 'map'>
[1, 4, 9, 16, 25]