In [ ]:
## Python is case sensitive

name = "Alice"
Name = "Bob"

print(name)  # Output: Alice
print(Name)  # Output: Bob

In [ ]:
## To perform multiple operations on a single line, you can use a semicolon
x = 5; y = 10; z = x + y;
print(z)  # Output: 15

In [ ]:
## Type Inference allows you to assign a value without explicitly declaring its type
variable = 42
print(type(variable))  # Output: <class 'int'>
variable = "Hello, World!"
print(type(variable))  # Output: <class 'str'>

In [ ]:
age = input("Enter your age: ") ## int(input("Enter your age: ")) will convert input to integer directly
print(type(age))  # Output: <class 'str'> (input is always a string)

## input will defaultly return a string, so you may need to convert it
age = int(age)  # Convert to integer
print(type(age))  # Output: <class 'int'> (after conversion)

In [ ]:
bool() 
a = 5; b=10
bool(a > b)  # Output: False
bool(a < b)  # Output: True


python vs C# on memory management
Python: All the objects are stored in heap memory, and its instance will be called in stack memory by creating a frame, 
Eg. even int/bool/string its object will be craeted in Heap and its instance will be used in stack during execution.

C#: 
Value types: int, bool, double, struct → Stored in stack AND
Reference types: string, class, object, array → Stored in heap

In [ ]:
## Python is a dynamically typed language, meaning you can change the type of a variable at any time

name = 15
print(name)  # Output: 15 (name is now an integer)
print(type(name))  # Output: <class 'int'> (name is now an integer)

name = "John"
print(name)  # Output: John (name is now a string)
print(type(name))  # Output: <class 'str'> (name is now a string

In [ ]:
## Calculator

a= 15; b= 3;

add = a + b
sub = a - b
multiply = a * b
divide = a / b
floorDivide = a // b
modulus = a % b
power = a ** b

print("Addition:", add)  # Output: Addition: 18
print("Subtraction:", sub)  # Output: Subtraction: 12
print("Multiplication:", multiply)  # Output: Multiplication: 45
print("Division:", divide)  # Output: Division: 5.0
print("Floor Division:", floorDivide)  # Output: Floor Division: 5
print("Modulus:", modulus)  # Output: Modulus: 0
print("Power:", power)  # Output: Power: 3375

Bitwise Operators

In [ ]:
num1 = 2; num2 = 2;

print(num1 & num2)
print(num1 | num2)
print(not num2)
print(num1 ^ num2)

If Elif and Else

In [ ]:
age = 76
age2 = 45

if (age > age2 and age > 40):
    print("Age is greater than age2")
elif (age < age2):
    print("Age is less than age2")
else:
    print("Age is equal to age2")

For Loop with Range

In [ ]:
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4

for i in range(1, 6):
    print(i)  # Output: 1, 2, 3, 4, 5

In [ ]:
for i in range(1,11,2):
    print(i)  # Output: 1, 3, 5, 7, 9

In [ ]:
name = "Rajnesh"

for i in name:
    print(i)  # Output: R, a, j, n, e, s, h

ENUMERATE IN FOR LOOPS

In [ ]:
## Enumerate Example
name = "Rajnesh"
for char, index in enumerate(name):
    print(f"Character: {char}, Index: {index}")  # Output: Character: R, Index: 0, etc.

for char, index in enumerate(name, start = 10):
    print(f"Character: {char}, Index: {index}")  # Output: Character: R, Index: 0, etc.

List - Is a collection can have different data types

In [ ]:
list_of_names = ["Alice", "Bob", "Charlie"]

for index, string in enumerate(list_of_names):
    print(f"Index: {index}, Name: {string}")  # Output: Index: 0, Name: Alice, etc.
    for index, char in enumerate(string):
        print(f"Index: {index}, Name: {char}")  # Output: Index: 1, Name: Alice, etc.

In [ ]:
empty_list = list()  # Creating an empty list
print(type(empty_list))  # Output: <class 'list'> (an empty list)

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")  # Add an item to the end of the list
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

fruits.insert(1, "kiwi")  # Insert an item at a specific position
print(fruits)  # Output: ['apple', 'kiwi', 'banana', 'cherry', 'orange']

In [ ]:
fruits.sort()  # Sort the list in ascending order
fruits.reverse()  # Reverse the order of the list
fruits.clear()  # Clear all items from the list
print(fruits)  # Output: []

List Comprehension -> Dynamically using list which optimize memory

In [ ]:
sqr_list = [x**2 for x in range(11)]

even_num = [x for x in range(11) if x % 2 == 0]  # This line has a syntax error, it should be corrected to:

SETS -> Similar to HashSet

In [ ]:
sets = set();

print(type(sets))  # Output: set() (an empty set)

In [ ]:
sets1 = {1, 2, 3, 4, 5}  # Creating a set with initial values
print(sets1)  # Output: {1, 2, 3, 4, 5}

sets1.add(5)  # Adding an element to the set
print(sets1)  # Output: {5} (if 5 was not already in the set)

sets1.remove(3)  # Removing an element from the set
print(sets1)  # Output: {1, 2, 4, 5} (3 is removed)

In [ ]:
sets.add('r')  # Add an item to the set
print(sets)  # Output: {'r'} (if 'r' was not already in the set)

sets.pop()
print(sets)  # Output: set() (removes and returns an arbitrary element from the set)

for i in sets1:
    print(i)  # Output: 1, 2, 4, 5 (iterating through the set)

Dictionary - Key Value Pair

Keys are unique and are immutable where as values are mutable

In [ ]:
num_dict = {"one": 1, "two": 2, "three": 3}  # Creating a dictionary with key-value pairs
print(num_dict)  # Output: {'one': 1, 'two': 2

print(num_dict["one"])  # Accessing a value by its key, Output: 1
print(num_dict.get("two"))  # Accessing a value using the get method, Output

FOR LOOPS In Dictionary

In [ ]:
for key in num_dict.keys():
    print(key)  # Output: one, two, three (iterating through keys)

In [ ]:
for values in num_dict.values():
    print(values)  # Output: one, two, three (iterating through keys)

In [ ]:
for key, value in num_dict.items():
    print(f"Key: {key}, Value: {value}")  # Output: Key: one, Value: 1, etc.

In [ ]:
num_dict.pop("one")  # Removing a key-value pair by key
print(num_dict)  # Output: {'two': 2, 'three': 3}

In [ ]:
## Determine the frequency of each character in a string

str1 = "hello world"
dict_str1 = {};

for char in str1:
    if char in dict_str1:
        dict_str1[char] += 1
    else:
        dict_str1[char] = 1

print(dict_str1)  # Output: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

Shallow Copy in Dictionary - Important

assigning a dict to another dict -> shares same memory

In [ ]:
dict1 = {"name": "Alice", "age": 30, "city": "New York"}
dict2 = dict1 ## direct assignment creates a reference to the same dictionary
dict2["age"] = 78  # Modifying dict2 does not affect dict1
print(dict1)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}
print(dict2)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}

In [ ]:
## Shallow Copy in Dictionary - Important

dict1 = {"name": "Alice", "age": 30, "city": "New York"}
dict2 = dict1.copy() # Shallow copy of dict1
dict2["age"] = 78  # Modifying dict2 does not affect dict1
print(dict1)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(dict2)  # Output: {'name': 'Alice', 'age': 78, 'city': 'New York'}

Tuples -  similar to list but they are immutable

In [ ]:
empty_tuple = tuple()  # Creating an empty tuple
print(type(empty_tuple))  # Output: <class 'tuple'> (an empty tuple)

tpl = (1, 2, 3, 4, 5)  # Creating a tuple with initial values
print(tpl)  # Output: (1, 2, 3, 4, 5)

tp[0] = 10  # Tuples are immutable, this will raise an error
print(tp)  # Output: (1, 2, 3, 4, 5) (unchanged, as tuples cannot be modified)

lst = [1, 2, 3, 4, 5]  # Creating a list with initial values
tpl_from_list = tuple(lst)  # Converting a list to a tuple
print(tpl_from_list)  # Output: (1, 2, 3, 4, 5)

Functions

In [ ]:
def func_name():
    print("Hello, World!")  # Function definition

func_name()  # Calling the function to execute its code

In [ ]:
print(add(2, 3)) ## it wiil raise an error if the function is not defined before this line

def add(a, b):
    return a + b  # Function to add two numbers

print(add(2, 3)) ## it wiil raise an error if the function is not defined before this line

In [ ]:
## for list and dictionary comprehensions

def func_name(*args, **kwargs):
    print("Positional arguments:", args)  # Function definition with *args
    print("Keyword arguments:", kwargs)  # Function definition with **kwargs

    for num in args:
        print(num)
    
    for key, value in kwargs.items():
        print(f"Key: {key}, Value: {value}")


func_name(1, 2, 3, name="Alice", age=30)  # Calling the function with positional and keyword arguments

Lambda Functions in Python

In [ ]:
## syntax

func_name = lambda arguments : operation  # Lambda function definition

In [ ]:
addition = lambda a, b: a + b  # Lambda function to add two numbers
print(addition(5, 3))  # Output: 8 (calling the lambda function to add two numbers)

In [ ]:
even_num = lambda num: num % 2 == 0  # Lambda function to check if a number is even
print(even_num(4))  # Output: True (4 is even)

In [ ]:
## Synatx for Map function
map(func_name, list_of_names)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)  # Using map with a lambda function to square each number
print(type(squared_numbers))  # Output: <class 'map'> (squared_numbers is a map object)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25] (converting the map object to a list for display)

 Day to day Libraries in Python

In [ ]:
import math as m

m.sqrt(16)  # Using the math module to calculate the square root of 16
print(m.sqrt(16))  # Output: 4.0 (printing the square root

Numpy

In [ ]:
import numpy as np ## can be used for array manipulation like 1-D, 2-D, etc.

np.array([1, 2, 3])  # Creating a NumPy array
print(np.array([1, 2, 3]))  # Output: [1 2 3] (printing the NumPy array)

print(np.sorted(np.array([3, 1, 2])))  # Output: [1 2 3] (printing the sorted NumPy array)
print(np.array([3, 1, 2]).sort())  # Sorting a NumPy array in place

np.ones((5, 3))  # Creating a 2D NumPy array filled with ones

In [ ]:
##2-D array example
array_2d = np.array([[1, 2, 3], [4, 5, 6]])
print(array_2d)
# Output:
# [[1 2 3]

array_1d = np.array([1, 2, 3])  # Creating a 1D NumPy array
array_1d = array_1d.reshape(3, 1)  # Reshaping the 1D array to a 2D array with 3 rows and 1 column

print(array_1d)  # Output: [[1] [2] [3]] (printing the reshaped array)

In [ ]:
np.ones((5, 3))  # Creating a 2D NumPy array filled with ones  

## 5 rows and 3 columns of 1

print(np.ones((2, 3)))  # Output: [[1. 1. 1.]   (printing a 2D NumPy array filled with ones)

In [ ]:
## Vectorication Example
vector1 = np.array([1, 2, 3])
vector2 = np.array([4, 5, 6])
result = vector1 + vector2  # Element-wise addition of two vectors
subtract_result = vector2 - vector1  # Element-wise subtraction of two vectors
print(result)  # Output: [5 7 9] (printing the result of
print(subtract_result)  # Output: [3 3 3] (printing the result of element-wise subtraction)

In [ ]:
## Statistical example - mainly used in ML

np.mean([1, 2, 3, 4, 5])  # Calculating the mean of a list of numbers
np.median([1, 2, 3, 4, 5])  # Calculating the median of a list of numbers
np.std([1, 2, 3, 4, 5])  # Calculating the standard deviation of a list of numbers

Panda - DataFrame and Series -> Data Analytics

Series -> 1D Array like Object

DataFrame -> 2D Array which are size-mutable

In [ ]:
import pandas as pd  # Importing the pandas library for data manipulation

## Series -> Multiple rows of values for a single column

series_list = pd.Series([1, 2, 3, 4, 5])  # Creating a pandas Series from a list

print("\n", series_list)  # Output: 0    1, 1    2, 2    3, 3    4, 4    5 (printing the Series created from the list)

dict = {"a": 1, "b": 2, "c": 3}  # Creating a dictionary

series_dict = pd.Series(dict)  # Creating a pandas Series from a dictionary

print("\n",series_dict)  # Output: a    1, b    2, c    3 (printing the Series created from the dictionary)

In [ ]:
data = [1,2,3]

index = [2,3,4]

answer = pd.Series(data, index=index)  # Creating a pandas Series with custom index

print("\n", answer)  # Output: 2    1, 3    2, 4    3 (printing the Series with custom index)

DataFrame in Panda

In [ ]:
dict = {
    "Name":["Rajnesh", "Alice", "Bob"],
    "Age":[30, 25, 35],
    "City":["New York", "Los Angeles", "Chicago"],
    "Country": ["India", "USA", "USA"]
}

df = pd.DataFrame(dict)  # Creating a pandas DataFrame from a dictionary
print(df)  # Output: DataFrame with columns Name, Age, City, Country (printing the DataFrame created from the dictionary)

Read a CSV File and filter the records by Pandas

In [ ]:
## Read a CSV File and filter the records by Pandas

df = pd.read_csv('products-100.csv')  # Reading a CSV file into a pandas DataFrame
print(df.head(5))  # Displaying the first 5 rows of the DataFrame

## suppose the file is in completely diff directory, you can use the full path to read the file
##df = pd.read_csv(r'path of the csv file')

## now filter

df_filtered = df[df['Price'] >= 500]  # Filtering the DataFrame to include only rows where Price  is greater than 500
print(df_filtered)  # Output: DataFrame with filtered records (printing the filtered DataFrame

df_filtered = df[(df['Price'] > 500) & (df['Stock'] > 100)]  # Filtering the DataFrame to include only rows where Age is greater than 30
print(df_filtered)  # Output: DataFrame with filtered records (printing the filtered DataFrame)


## Access a particular row-column value
print(df.at[2, 'Name'])  # 2 is index and Name is column name
print(df.iat[2, 2])  # 2 is index and 2 is column index (0-based indexing)

   Index                                  Name  \
0      1  Compact Printer Air Advanced Digital
1      2                                Tablet
2      3                  Smart Blender Cooker
3      4          Advanced Router Rechargeable
4      5          Portable Mouse Monitor Phone

                                         Description  \
0      Situation organization these memory much off.
1        Discussion loss politics free one thousand.
2                                  No situation per.
3                    For force gas energy six laugh.
4  Feeling back religious however author room sci...

                        Brand            Category  Price Currency  Stock  \
0     Garner, Boyle and Flynn  Books & Stationery    265      USD    774
1                 Mueller Inc    Shoes & Footwear    502      USD     81
2  Lawson, Keller and Winters  Kitchen Appliances    227      USD    726
3          Gallagher and Sons  Kitchen Appliances    121      USD    896
4                   Irwin LLC      Kids' Clothing      1      USD    925

             EAN        Color        Size  Availability  Internal ID
0  2091465262179  ForestGreen       Large     pre_order           56
1  5286196620740        Black     8x10 in      in_stock           29
2  1282898648918    SlateGray          XS      in_stock           70
3  3879177514583    PaleGreen           L  discontinued           31
4  9055773261265     SeaShell  100x200 mm  discontinued           10
    Index                                               Name  \
1       2                                             Tablet
9      10                  Ultra Powerbank Brush Charger Max
12     13                                       Heater Radio
16     17                               Eco Iron Monitor Air
19     20                                         Cooler Fan
21     22              Wireless Powerbank 360 Advanced Ultra
22     23          Rechargeable Lamp Speakerphone Headphones
23     24                            Mini Scooter Microphone
24     25                    Rechargeable Webcam Stove Grill
25     26                       Mini Iron Drone Wireless Pro
27     28                        Wireless Webcam Stove Grill
28     29                                        Clock Brush
29     30                           Keyboard Toaster Monitor
32     33                     Advanced Microphone Cooler Eco
35     36                          Smart Phone Scooter Clean
37     38                  Ultra Dock Trimmer Automatic Edge
38     39  Wireless Tablet Router Printer Wireless Premiu...
39     40               Clean Printer Advanced Premium Sense
41     42                 Ultra Speakerphone Oven Go Smart X
42     43                         Rechargeable Projector Pro
46     47                           Portable Powerbank X Air
47     48                                              Clock
48     49                                    Radio Treadmill
50     51                                 Mini Fridge Camera
51     52             Rechargeable Tablet Plus Portable Mini
53     54              Wireless Light Toaster Lite Touch Eco
56     57                         Ultra Keyboard Compact Eco
57     58             Portable Scale Speaker Powerbank Clean
59     60                Automatic Speaker Router Lamp Prime
61     62                                           Fast Fan
65     66                                          Treadmill
66     67                 Mini Charger Lock Oven Sense Sense
72     73                            Compact Thermostat Oven
74     75                                  Automatic Blender
75     76                    Rechargeable Webcam Dock Heater
79     80                         Rechargeable Brush Compact
84     85                                      Fast Keyboard
86     87                Silent Speakerphone Scanner Monitor
89     90                                    Digital Trimmer
91     92                  Portable Scooter Wireless Digital

                                          Description  \
1         Discussion loss politics free one thousand.
9                  Meeting add economic task outside.
12   Ten do evidence billion perhaps read bank enter.
16   Color single indeed yard event popular food boy.
19                           Fall billion city share.
21     Deal head decade age outside military culture.
22                 Effort own safe main walk quickly.
23               Maybe around expect own whether pay.
24             Movement you Mr decide history effect.
25                                 From Congress low.
27  Pull at improve health also animal forward per...
28  Other another must explain send somebody consi...
29                        My head prove exist change.
32                  Most other newspaper beyond real.
35                 Reality kid create thought window.
37                        Do customer stage act send.
38  North meeting short summer situation positive ...
39         Bag away always often join seat direction.
41                        Value bill yeah tell phone.
42                          Bank everything ago girl.
46          Present court note medical bed red movie.
47                       Onto story what job require.
48                Through choose record prove happen.
50                    Little determine at huge month.
51                         Expect question how sound.
53                 Oil guy table industry hand which.
56      Bit responsibility cover him mean call civil.
57     Throughout special new you view season within.
59      Word score education thousand high treatment.
61              Avoid very final food scene possible.
65                              Vote only run modern.
66                        Major tell him share allow.
72                   Focus that consumer amount half.
74                  Smile human machine section bank.
75  Organization address section collection church...
79              Early century every amount than past.
84                    Success other institution fear.
86  Quality yet significant lawyer face field yet ...
89                        Ago floor nice member wait.
91                         Thousand various evidence.

                              Brand               Category  Price Currency  \
1                       Mueller Inc       Shoes & Footwear    502      USD
9       Brennan, Archer and Rosales      Fitness Equipment    845      USD
12                Delgado-Blackwell                Cycling    689      USD
16                    Barker-Murphy             Automotive    982      USD
19                         Bray LLC            Smartphones    529      USD
21                       Carney Ltd         Bedding & Bath    677      USD
22  Gallegos, Osborne and Carpenter               Skincare    664      USD
23       Douglas, Thornton and Soto         Grooming Tools    784      USD
24                        Horn-Pope      Health & Wellness    900      USD
25                     Khan-Parrish                Cycling    909      USD
27                      Henry Group     Clothing & Apparel    858      USD
28                    Larson-Spence              Furniture    985      USD
29                   Bonilla-Spears         Kids' Clothing    576      USD
32    Morales, Weaver and Fernandez            Smartphones    904      USD
35               Marshall-Dougherty       Women's Clothing    635      USD
37                     Barnes-Glass         Kids' Clothing    640      USD
38                      Meyers-Hess      Sports & Outdoors    781      USD
39                   Williamson PLC               Haircare    913      USD
41        Zimmerman, Barr and Davis        Office Supplies    999      USD
42        Levine, Martin and Mccann             Home Decor    935      USD
46                   Hanson-Schultz       Camping & Hiking    599      USD
47      Malone, Jacobson and Hudson            Team Sports    731      USD
48                    Barron-Little        Office Supplies    511      USD
50                  Decker and Sons      Fitness Equipment    777      USD
51                  Mooney-Gonzales             Fragrances    820      USD
53                    Singleton PLC         Bedding & Bath    791      USD
56                      Pace-Hodges     Books & Stationery    514      USD
57                       Morris LLC       Women's Clothing    689      USD
59      Sexton, Dickerson and Blair         Grooming Tools    621      USD
61                       Ali-Oliver      Cleaning Supplies    982      USD
65   Frost, Christensen and Burnett       Women's Clothing    731      USD
66          Burton, Gross and Giles               Haircare    750      USD
72                         Hull Inc         Home & Kitchen    685      USD
74                    Mahoney-Bryan             Home Decor    630      USD
75                   Kennedy-Gordon                Cycling    800      USD
79                   Castro-Mccarty             Automotive    748      USD
84                        Lewis Ltd       Camping & Hiking    998      USD
86                        Cowan Inc             Fragrances    593      USD
89                 Christian-Tanner    Laptops & Computers    541      USD
91                        Bauer Inc  Cameras & Accessories    519      USD

    Stock            EAN                 Color         Size   Availability  \
1      81  5286196620740                 Black      8x10 in       in_stock
9     564  4877111475333                Silver  Extra Large   discontinued
12    156  5686660235911                Orange            L      pre_order
16     47  7887280730963             OliveDrab           XL   out_of_stock
19    844   267078141619                Bisque           XS      backorder
21    418  3918763032312                 Beige            M   out_of_stock
22    577  1824359393441              DarkBlue            L      pre_order
23    510  9839666739792               DimGray            L      backorder
24    623  6501687247749             PaleGreen       5x7 in   out_of_stock
25    797  9496081864722             CadetBlue          XXL  limited_stock
27    912  7097613907430           LightSalmon     50x70 cm  limited_stock
28    180  8301096575048           SaddleBrown  Extra Large       in_stock
29    988  6639325474032         DarkSlateGray            L      pre_order
32    532  7107438924403             LightCyan  Extra Large  limited_stock
35    727  7883295446066       MediumVioletRed     10x10 cm      backorder
37    780  2837107354495             LightBlue       5x7 in   discontinued
38    947  8247903213713        BlanchedAlmond           XL   out_of_stock
39    820  5234087663802              Moccasin        Small   discontinued
41    853   450118214736          MediumOrchid     12x18 in      pre_order
42     55   655296358115             SlateBlue           XL  limited_stock
46    263  6854117854742              Moccasin        Large   discontinued
47    664  1382809012286           FloralWhite            S  limited_stock
48    395  5461960384619                Violet           XL   discontinued
50    832  4894233116968         PaleGoldenRod  Extra Large       in_stock
51    535  8183922928019                  Cyan   100x200 mm       in_stock
53    827  3057639268476               Fuchsia     50x70 cm       in_stock
56    491  8481605893389             LightGray      8x10 in      backorder
57    332  5175038823985            PowderBlue        Small      backorder
59    667  6744198567221             FireBrick       5x7 in       in_stock
61    804  3388615003133            DarkOrchid   100x200 mm      backorder
65    744  4598541150958                  Cyan       5x7 in   out_of_stock
66    623  9282813513019                 Olive     12x18 in       in_stock
72    747  7695934105636           SaddleBrown     30x40 cm       in_stock
74    438   310774792552  LightGoldenRodYellow      8x10 in      backorder
75    151  1340784358003                 Brown          XXL       in_stock
79    326  6855062072649                Sienna            S   out_of_stock
84     10  3163238295239                  Cyan     50x70 cm  limited_stock
86    580  1710131812265                  Navy          XXL   discontinued
89    488  4147810179628             SteelBlue            M      pre_order
91    495  4564280934296           DeepSkyBlue        Large       in_stock

    Internal ID
1            29
9            88
12           57
16           79
19           22
21           90
22           26
23           55
24           47
25           93
27           43
28           40
29           40
32           86
35           74
37           96
38           69
39           77
41           23
42           52
46           17
47           55
48           14
50           16
51           19
53           64
56           19
57           94
59           61
61           70
65           70
66           81
72           36
74            4
75           66
79           81
84           64
86           20
89           31
91           36
    Index                                               Name  \
9      10                  Ultra Powerbank Brush Charger Max
12     13                                       Heater Radio
19     20                                         Cooler Fan
21     22              Wireless Powerbank 360 Advanced Ultra
22     23          Rechargeable Lamp Speakerphone Headphones
23     24                            Mini Scooter Microphone
24     25                    Rechargeable Webcam Stove Grill
25     26                       Mini Iron Drone Wireless Pro
27     28                        Wireless Webcam Stove Grill
28     29                                        Clock Brush
29     30                           Keyboard Toaster Monitor
32     33                     Advanced Microphone Cooler Eco
35     36                          Smart Phone Scooter Clean
37     38                  Ultra Dock Trimmer Automatic Edge
38     39  Wireless Tablet Router Printer Wireless Premiu...
39     40               Clean Printer Advanced Premium Sense
41     42                 Ultra Speakerphone Oven Go Smart X
46     47                           Portable Powerbank X Air
47     48                                              Clock
48     49                                    Radio Treadmill
50     51                                 Mini Fridge Camera
51     52             Rechargeable Tablet Plus Portable Mini
53     54              Wireless Light Toaster Lite Touch Eco
56     57                         Ultra Keyboard Compact Eco
57     58             Portable Scale Speaker Powerbank Clean
59     60                Automatic Speaker Router Lamp Prime
61     62                                           Fast Fan
65     66                                          Treadmill
66     67                 Mini Charger Lock Oven Sense Sense
72     73                            Compact Thermostat Oven
74     75                                  Automatic Blender
75     76                    Rechargeable Webcam Dock Heater
79     80                         Rechargeable Brush Compact
86     87                Silent Speakerphone Scanner Monitor
89     90                                    Digital Trimmer
91     92                  Portable Scooter Wireless Digital

                                          Description  \
9                  Meeting add economic task outside.
12   Ten do evidence billion perhaps read bank enter.
19                           Fall billion city share.
21     Deal head decade age outside military culture.
22                 Effort own safe main walk quickly.
23               Maybe around expect own whether pay.
24             Movement you Mr decide history effect.
25                                 From Congress low.
27  Pull at improve health also animal forward per...
28  Other another must explain send somebody consi...
29                        My head prove exist change.
32                  Most other newspaper beyond real.
35                 Reality kid create thought window.
37                        Do customer stage act send.
38  North meeting short summer situation positive ...
39         Bag away always often join seat direction.
41                        Value bill yeah tell phone.
46          Present court note medical bed red movie.
47                       Onto story what job require.
48                Through choose record prove happen.
50                    Little determine at huge month.
51                         Expect question how sound.
53                 Oil guy table industry hand which.
56      Bit responsibility cover him mean call civil.
57     Throughout special new you view season within.
59      Word score education thousand high treatment.
61              Avoid very final food scene possible.
65                              Vote only run modern.
66                        Major tell him share allow.
72                   Focus that consumer amount half.
74                  Smile human machine section bank.
75  Organization address section collection church...
79              Early century every amount than past.
86  Quality yet significant lawyer face field yet ...
89                        Ago floor nice member wait.
91                         Thousand various evidence.

                              Brand               Category  Price Currency  \
9       Brennan, Archer and Rosales      Fitness Equipment    845      USD
12                Delgado-Blackwell                Cycling    689      USD
19                         Bray LLC            Smartphones    529      USD
21                       Carney Ltd         Bedding & Bath    677      USD
22  Gallegos, Osborne and Carpenter               Skincare    664      USD
23       Douglas, Thornton and Soto         Grooming Tools    784      USD
24                        Horn-Pope      Health & Wellness    900      USD
25                     Khan-Parrish                Cycling    909      USD
27                      Henry Group     Clothing & Apparel    858      USD
28                    Larson-Spence              Furniture    985      USD
29                   Bonilla-Spears         Kids' Clothing    576      USD
32    Morales, Weaver and Fernandez            Smartphones    904      USD
35               Marshall-Dougherty       Women's Clothing    635      USD
37                     Barnes-Glass         Kids' Clothing    640      USD
38                      Meyers-Hess      Sports & Outdoors    781      USD
39                   Williamson PLC               Haircare    913      USD
41        Zimmerman, Barr and Davis        Office Supplies    999      USD
46                   Hanson-Schultz       Camping & Hiking    599      USD
47      Malone, Jacobson and Hudson            Team Sports    731      USD
48                    Barron-Little        Office Supplies    511      USD
50                  Decker and Sons      Fitness Equipment    777      USD
51                  Mooney-Gonzales             Fragrances    820      USD
53                    Singleton PLC         Bedding & Bath    791      USD
56                      Pace-Hodges     Books & Stationery    514      USD
57                       Morris LLC       Women's Clothing    689      USD
59      Sexton, Dickerson and Blair         Grooming Tools    621      USD
61                       Ali-Oliver      Cleaning Supplies    982      USD
65   Frost, Christensen and Burnett       Women's Clothing    731      USD
66          Burton, Gross and Giles               Haircare    750      USD
72                         Hull Inc         Home & Kitchen    685      USD
74                    Mahoney-Bryan             Home Decor    630      USD
75                   Kennedy-Gordon                Cycling    800      USD
79                   Castro-Mccarty             Automotive    748      USD
86                        Cowan Inc             Fragrances    593      USD
89                 Christian-Tanner    Laptops & Computers    541      USD

In [ ]:
import json  ## Conveerting dictionaries to JSON mainly used in API Calls

json_data = '{"name": "Alice", "age": 30}'  # JSON string

json_object = json.dumps(json_data)  # Converting JSON string to a Python object
print(json_object)  # Output: {'name': 'Alice', 'age': 30}

print(json.loads(json_object))  # Converting JSON string to a Python object and printing it

In [ ]:
import os  ## Importing the os module for operating system-related functionality

os.getcwd()  # Get the current working directory
print(os.getcwd())  # Output: Current working directory path

In [ ]:
import random ## Importing the random module for generating random numbers

random_number = random.randint(1, 10)  # Generating a random integer between 1 and 10
print(random_number)  # Output: Random number between 1 and 10

In [ ]:
import csv ## Importing the csv module for working with CSV files

with open('data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)  # Creating a CSV writer object
    writer.writerow(['Name', 'Age'])  # Writing the header row
    writer.writerow(['Alice', 30])  # Writing a data row
    writer.writerow(['Bob', 25])  # Writing another data row

with open('data.csv', mode='r') as file:
    reader = csv.reader(file)  # Creating a CSV reader object
    for row in reader:
        print(row)  # Output: ['Name', 'Age'], ['Alice', '30'], ['Bob', '25'] (printing each row of the CSV file)

In [ ]:
from datetime import datetime, timedelta  ## Importing the datetime module for working with dates and times

now = datetime.now()  # Get the current date and time
print(now)  # Output: Current date and time (e.g., 2023-10-01 12:34:56.789012)

yesterday = now - timedelta(days=1)  # Get the date and time for yesterday
print(yesterday)  # Output: Date and time for yesterday (e.g., 2023-09-30 12:34:56.789012)